In [21]:
import geopandas as gpd
import json
from shapely.geometry import Point, Polygon

In [22]:
with open('./geoBoundariesCGAZ_ADM1.geojson') as f:
    data = json.load(f)
data.keys()

dict_keys(['type', 'crs', 'features'])

In [23]:
df = gpd.GeoDataFrame.from_features(data['features'])

In [24]:
df.head()

,geometry,shapeName,shapeID,shapeGroup,shapeType
0,"POLYGON ((65.24153 32.28630, 65.12687 32.03679...",Kandahar,12653393B40111500734429,AFG,ADM1
1,"POLYGON ((67.60666 31.44378, 67.70162 31.51373...",Zabul,12653393B56617740339660,AFG,ADM1
2,"POLYGON ((66.27519 32.42550, 66.35907 32.60925...",Uruzgan,12653393B46006342616872,AFG,ADM1
3,"POLYGON ((66.76157 33.25547, 66.92827 33.59694...",Daykundi,12653393B78791504725813,AFG,ADM1
4,"POLYGON ((68.06945 32.04564, 68.06011 32.45619...",Ghanzi,12653393B29313712249365,AFG,ADM1

In [38]:
df['test'] = df['geometry'].contains(Poinf))

In [41]:
df[df['test'] == True]

,geometry,shapeName,shapeID,shapeGroup,shapeType,test
404,"POLYGON ((-69.94581 -4.22629, -69.94733 -4.227...",Amazonas,14911670B46798344041190,BRA,ADM1,True

In [42]:
df[df['test'] == True].shapeName

404    Amazonas
Name: shapeName, dtype: object

In [43]:
with open('./geoBoundariesCGAZ_ADM2.geojson') as f:
    data = json.load(f)
data.keys()

dict_keys(['type', 'crs', 'features'])

In [49]:
df2 = gpd.GeoDataFrame.from_features(data['features'])

In [53]:
df2['test'] = df2['geometry'].contains(Point(-67.5410896,-9.5936351))

In [54]:
df2[df2['test'] == True]

,geometry,shapeName,shapeID,shapeGroup,shapeType,test
7921,"POLYGON ((-67.79608 -9.76190, -67.79388 -9.782...",Porto Acre,56859067B95321771565302,BRA,ADM2,True

In [55]:
df2[df2['test'] == True].shapeName

7921    Porto Acre
Name: shapeName, dtype: object

In [56]:
df2.head()

,geometry,shapeName,shapeID,shapeGroup,shapeType,test
0,"POLYGON ((70.51142 33.94920, 70.51889 33.95499...",Deh Bala,17698898B67359070524975,AFG,ADM2,False
1,"POLYGON ((62.00760 35.44597, 62.00551 35.44639...",Gulran,17698898B98443198567384,AFG,ADM2,False
2,"POLYGON ((61.99554 34.74465, 62.01760 34.73953...",Koshk,17698898B82675281335003,AFG,ADM2,False
3,"POLYGON ((70.41933 34.23071, 70.42355 34.27594...",Chaparhar,17698898B74585757664988,AFG,ADM2,False
4,"POLYGON ((62.41693 34.67412, 62.50038 34.67112...",Koshki Kohna,17698898B84066352785355,AFG,ADM2,False

In [58]:
df2[df2['test'] == True]

,geometry,shapeName,shapeID,shapeGroup,shapeType,test
7921,"POLYGON ((-67.79608 -9.76190, -67.79388 -9.782...",Porto Acre,56859067B95321771565302,BRA,ADM2,True